<nav id="plate-view-control" class="card-header">
  <ul class="nav nav-tabs card-header-tabs float-xs-left" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#summary_tab" data-bs-toggle="tab" role="tab" data-plate-view="summary-view">Summary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#relatives_tab" data-bs-toggle="tab" role="tab" data-plate-view="relatives-view">Relatives</a>
    </li>
    <% if @presenter.show_pooling_tab? %>
    <li class="nav-item">
      <a class="nav-link" href="#pooling_tab" data-bs-toggle="tab" role="tab" data-plate-view="pools-view">Pooling</a>
    </li>
    <% end %>
    <%= yield(:additional_tabs) if content_for?(:additional_tabs) %>
    <li class="nav-item">
      <a id='files-tab-link' class="nav-link" href="#files_tab" data-bs-toggle="tab" role="tab" data-plate-view="files-view">Files</a>
    </li>
    <% data_attributes = {
         sequencescape_api: Limber::Application.config.api.v2.connection_options.js_url,
         sequencescape_api_key: Limber::Application.config.api.v2.connection_options.authorisation,
         asset_id: presenter.id
       } %>
    <li class="nav-item">
      <a id='comments-tab-link' class="nav-link" href="#comments_tab" data-bs-toggle="tab" role="tab" data-plate-view="comments-view">
          Comments <%= tag.span(id: 'asset-comments-counter', data: data_attributes) %>
        </a>
    </li>
  </ul>
</nav>

<div class="tab-content">
  <div class="tab-pane active" id='summary_tab' role="tabpanel">
    <%= render partial: 'summary', locals: { presenter: } %>
  </div>
  <% if @presenter.show_pooling_tab? %>
  <div class="tab-pane" id='pooling_tab' role="tabpanel">
    <%= render partial: @presenter.pooling_tab, locals: { plate_presenter: presenter } %>
  </div>
  <% end %>
  <div class="tab-pane" id='files_tab' role="tabpanel"><div id='files-list'></div></div>
  <div class="tab-pane" id='comments_tab' role="tabpanel">
    <div id='asset-comments' data-sequencescape-api="<%= Limber::Application.config.api.v2.connection_options.js_url %>"
                             data-sequencescape-api-key="<%= Limber::Application.config.api.v2.connection_options.authorisation %>"
                             data-asset-id="<%= presenter.id %>">
    </div>
  </div>
  <div class="tab-pane" id='relatives_tab' role="tabpanel">
    <%= render partial: 'relatives_list', locals: { presenter: } %>
  </div>
  <%= yield(:additional_panels) if content_for?(:additional_panels) %>
</div>
