<ul id="summary-information" class="information" style="display:none;">
  <li><span class="label">Barcode</span>             <span class="barcode"><%= useful_barcode(plate.barcode) %></span></li>
  <li><span class="label">UUID</span>             <span class="barcode"><%= plate.uuid %></span></li>
  <li><span class="label">Number of wells</span>     <span class="full"><%= plate.wells.select { |w| not w.aliquots.empty? }.size %></span> / <span class="total"><%= plate.size %></span></li>
  <li><span class="label">Plate type</span>          <%= plate.plate_purpose.name %></li>
  <li><span class="label">Current plate state</span> <%= plate.state %></li>
<% if plate.iteration.present? %>
  <li><span class="label">Iteration</span>           <%= plate.iteration %></li>
<% end %>
<% if plate.stock_plate.present? %>
  <li><span class="label">Stock plate barcode</span> <span class="barcode"><%= useful_barcode(plate.stock_plate.barcode) %></span></li>
<% end %>
  <li><span class="label">Created on</span>          <%= plate.created_at.to_formatted_s(:date_created) %>
</ul>
