
<table id="<%= (id ||= "plate") %>" class="plate-view">
  <thead>
    <tr>
      <th class="first-col">&nbsp;</th>
      <% (1..12).each do |column_number| %>
        <th><%= column_number %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% plate_presenter.wells_by_row.each do |row_label, row_wells| %>
      <tr>
        <th class="first-col"><%= row_label %></th>
        <% (0...12).map { |index| [ row_wells[index], index ] }.each do |well, index| %>
          <td class="col-all <%= column(well) %>">
            <% location = "#{row_label}#{index + 1}" %>
            <%# Don't remove the empty data-pool or data-aliquot-count attributes.  They're used by custom pooling. %>
            <div id="<%= "well_#{location}" %>" class="well" data-location="<%= location %>" data-pool="" data-aliquot-count="">
              <% if well.try(:aliquots).present? -%>
                <%= render :partial => plate_presenter.aliquot_partial, :locals => { :presenter => plate_presenter, :labware => plate_presenter.labware, :id => well.location, :container => well } %>
              <% end -%>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div><br/><br/></div>
<ul id="pools-information" class="information" style="display:none;" data-role="listview" data-inset="true">
  <% plate_presenter.labware.pools.each do |pool_id, pool| -%>
    <li data-role="list-divider" data-pool="<%= pool_id %>"><span class="well-list"><%= pool['wells'].join(', ') %></span></li>
  <li data-pool="<%= pool_id %>">
      <h3>Insert Size:</h3>
    <span class="insert-size <%= insert_size_class(pool) %>">
      From: <%= pool['insert_size']['from'] %> - To: <%= pool['insert_size']['to'] %>
    </span>
    <br/>
    <h3>Library Type name:</h3><%= pool['library_type']['name'] %>
  </li>

  <% end -%>
</ul>

<ul id="samples-information" class="information" data-role="listview" data-inset="true" style="display:none;">
  <li data-role="list-divider" >Plate Samples</li>
  <% plate_presenter.labware.wells.each do |well| -%>
    <li data-theme="e">Well: <%= well.location %></li>
    <% well.aliquots.each do |aliquot| -%>
      <li><%= aliquot.sample.sanger.name %></li>
    <% end -%>
  <% end -%>
</ul>

