<ul id="summary-information" class="list-group">
  <div class="list-group-item"><dt class='col-xs-6'>Barcode</dt><dd>            <span class="barcode"><%= useful_barcode(plate.barcode) %></span></dd></div>
  <div class="list-group-item"><dt class='col-xs-6'>Number of wells</dt><dd>    <span class="full"><%= plate.wells.select { |w| not w.aliquots.empty? }.size %></span>/ <span class="total"><%= plate.size %></span></dd></div>
  <div class="list-group-item"><dt class='col-xs-6'>Plate type</dt><dd>         <%= plate.plate_purpose.name %></dd></div>
  <div class="list-group-item"><dt class='col-xs-6'>Current plate state</dt><dd><%= plate.state %></dd></div>
<% if plate.iteration.present? %>
  <div class="list-group-item"><dt class='col-xs-6'>Iteration</dt><dd>          <%= plate.iteration %></dd></div>
<% end %>
<% if plate.stock_plate.present? %>
  <div class="list-group-item"><dt class='col-xs-6'>Input plate barcode</dt><dd><span class="barcode"><%= useful_barcode(plate.stock_plate.barcode) %></span></dd></div>
<% end %>
  <div class="list-group-item"><dt class='col-xs-6'>Created on</dt><dd>         <%= plate.created_at.to_formatted_s(:date_created) %></dd></div>
</ul>
