<div class="card-block bg-inverse">
  <table id="<%= (id ||= "plate") %>" class="plate-view m-x-auto">
    <thead>
      <tr>
        <th class="first-col">&nbsp;</th>
        <% (1..12).each do |column_number| %>
        <th><%= column_number %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% plate_presenter.wells_by_row.each do |row_label, row_wells| %>
      <tr>
        <th class="first-col"><%= row_label %></th>
        <% (0...12).map { |index| [ row_wells[index], index ] }.each do |well, index| %>
        <td class="col-all <%= column(well) %>">
          <% location = "#{row_label}#{index + 1}" %>
          <%# Don't remove the empty data-pool or data-aliquot-count attributes.  They're used by custom pooling. %>
          <div id="<%= "well_#{location}" %>" class="well" data-location="<%= location %>" data-pool="" data-aliquot-count="">
            <% if well.try(:aliquots).present? -%>
            <%= render :partial => plate_presenter.aliquot_partial, :locals => { :presenter => plate_presenter, :labware => plate_presenter.labware, :id => well.location, :container => well } %>
            <% end -%>
          </div>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="plate-view-control" class="card-header">
  <ul class="nav nav-tabs card-header-tabs pull-xs-left" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#summary_tab" data-toggle="tab" role="tab" data-plate-view="summary-view">Summary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pooling_tab" data-toggle="tab" role="tab" data-plate-view="pools-view">Pooling</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#samples_tab" data-toggle="tab" role="tab" data-plate-view="samples-view">Samples</a>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div class="tab-pane active" id='summary_tab' role="tabpanel">
    <%= render partial: 'plate_information', locals: { plate: plate_presenter.labware   } %>
  </div>
  <div class="tab-pane"        id='pooling_tab' role="tabpanel">
    <%= render partial: 'pooling_tab',       locals: { plate_presenter: plate_presenter } %>
  </div>
  <div class="tab-pane"        id='samples_tab' role="tabpanel">
    <%= render partial: 'samples_tab',       locals: { plate_presenter: plate_presenter } %>
  </div>
</div>



