<table class="plate-view">
  <thead>
    <tr>
      <th class="first-col">&nbsp;</th>
      <% (1..12).each do |column_number| %>
        <th><%= column_number %></th>
      <% end %>
    </tr>
  </thead>

    <% plate_presenter.wells_by_row.each do |row_label, row_wells| %>
      <tr>
        <th class="first-col"><%= row_label %></th>
        <% (0...12).map { |index| [ row_wells[index], index ] }.each do |well, index| %>
          <td class="col-all <%= column(well) %>">
            <% location = "#{row_label}#{index + 1}" %>
            <%# Don't remove the empty data-pool or data-aliquot-count attributes.  They're used by custom pooling. %>
            <div id="<%= "well_#{location}" %>" class="well" data-location="<%= location %>" data-pool="" data-aliquot-count="">
              <% if well.try(:aliquots).present? -%>
                <div 
                  id="<%= "aliquot_#{well.location}" %>"
                  class="aliquot <%= pool_colour_for_well(plate_presenter, well) %>"
                  rel="<%= "#details_#{well.location}" %>">
                  &nbsp;
                </div>
              <% end -%>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
