<table class="plate-view">
  <thead>
    <tr>
      <th class="first-col">&nbsp;</th>
      <% (1..12).each do |column_number| %>
        <th><%= column_number %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% transfers = plate_presenter.plate.source_transfers.first.transfers -%>
    <% plate_presenter.wells_by_row.each do |row_label, row_wells| %>
      <tr>
        <th class="first-col"><%= row_label %></th>
        <% row_wells.each_with_index do |well, index| %>
          <td class="col-all <%= "col-#{index+1}" %>">
            <div id="<%= "well_#{well.location}" %>" class="well">
              <% unless transfers[well.location].nil? -%>
                <% tube_uuid = transfers[well.location].uuid %>
                <div id="<%= "aliquot_#{well.location}" %>" class="aliquot <%= pooling_colour(well, tube_uuid) %>" rel="<%= "#details_#{well.location}" %>">&nbsp;</div>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
