<ul id="pools-information" class="list-group list-group-flush">
  <% plate_presenter.pools.each do |pool| -%>
    <li data-pool="<%= pool.id %>" class='list-group-item'>
      <% pool.subpools.each do |subpool| %>
        <dl class='metadata'>
          <dt>Wells</dt>
          <dd class='well-list'><%= WellHelpers.formatted_range(subpool.well_locations, plate_presenter.size ) %></dd>
          <dt>Insert Size</dt>
          <dd class="insert-size"><%= subpool.fragment_size.from %> - <%= subpool.fragment_size.to %></dd>
          <dt>Library Type</dt>
          <dd><%= subpool.library_type %></dd>
        </dl>
      <% end %>
    </li>
  <% end -%>
</ul>
