<%= sidebar do %>
  <%= render partial: 'plate_printing' %>
  <%= render(partial: 'labware/qc_data') %>

  <% presenter.control_tube_display do %>
    <%= render(partial: 'labware/plates/tube_printing', locals: { presenter: presenter }) %>
  <% end %>

  <%= card title:'Suggested Actions', css_class: 'suggested-actions' do %>
    <% presenter.control_suggested_library_passing do %>
      <%= render partial: 'work_completion_form', locals: { presenter: presenter } %>
    <% end %>

    <% presenter.control_additional_creation do -%>
      <%= render presenter.suggested_purposes, locals: { parent: presenter.labware } %>
    <% end %>

    <% @presenter.csv_file_links.each do |link_name, link_target| %>
      <%= link_to(link_name, link_target, rel: "external",  class: 'csv-link') %>
    <% end %>

    <% if presenter.robot? %>
      <h4 class="card-title mt-3">Robots</h4>
      <% presenter.each_robot do |robot_id, robot_name| %>
        <%= link_to robot_name, robot_path(robot_id), class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    <% else %>
      <%= simple_state_change_form(presenter) %>
    <% end %>
  <% end %>

  <%= card title:'Other Actions', css_class: 'other-actions' do %>
    <% if presenter.robot? %>
      <%= simple_state_change_form(presenter) %>
    <% end %>

    <% presenter.control_additional_creation do %>
      <%= render partial: 'creation_dropdown', locals: { resource_type: 'plates', resources: presenter.compatible_plate_purposes } %>
      <%= render partial: 'creation_dropdown', locals: { resource_type: 'tubes', resources: presenter.compatible_tube_purposes } %>
    <% end %>

    <% presenter.control_library_passing do %>
      <%= render partial: 'work_completion_form', locals:  { presenter: presenter } %>
    <% end %>

    <% if presenter.well_failing_applicable? %>
      <button class='fail-wells'
        data-toggle="collapse"
        data-parent="#main-content"
        href="#labware-well-failing"
        aria-controls="labware-well-failing">Fail Wells</button>
    <% end %>

    <div id="plate-state">
      <%= state_change_form(presenter) %>
    </div>

  <% end %>
<% end %>
