<%= presenter.form.check_box(id) if failable?(container) %>
<%= presenter.form.label id do %>
  <div id="aliquot_<%= id %>" class="aliquot <%= permanent_state(container) %>" data-well="<%= id %>">
    <%= id %>
  </div>
<% end %>
