<%= page(:summary) do %>
  <%= header(@presenter, 'Summary') %>

  <%= content do %>
    <%= flash_messages %>

    <%= @presenter.control_source_view do %>
      <h2>Source Plate</h2>
      <%= render :partial => "pooled_plate", :locals => {:plate_presenter => @presenter} %>
      <br/>

      <h2>Pooled Plate</h2>
      <%= render :partial => "plate", :locals => {:plate_presenter => @presenter} %>
      <%= render :partial => 'plate_information', :locals => { :plate => @presenter.plate } %>
    <% end %>

    <% @presenter.control_tube_view do %>
      <h2>Pooled Plate</h2>
      <%= render :partial => "pooled_plate", :locals => {:plate_presenter => @presenter} %>
      <%= render :partial => 'plate_information', :locals => { :plate => @presenter.plate } %>

      <h2>Tubes</h2>
      <% @presenter.plate.tubes.each do |tube| %>
        <%= render :partial => 'lab_ware/tube.html.erb', :locals => { :tube => tube } %>
      <% end %>
    <% end %>
  <% end %>

  <%= footer %>
<% end %>

<%= page(:state) do %>
  <%= header(@presenter, 'State') %>

  <%= content do %>
    <%= state_change_form(@presenter) %>

    <%# Move this to the new method of creation controller %>
    <% @presenter.control_tube_preview do %>
      <% section do %>
        <%= form_tag new_pulldown_plate_tube_path(@presenter.plate.uuid), :method => 'get' do %>
          <%= submit_tag "Preview Tubes", :name => nil, :class => "submit" %>
        <% end %>
      <% end %>
    <%- end -%>
  <% end %>

  <%= footer %>
<% end %>

<%= page(:printing) do %>
  <%= header(@presenter, 'Print') %>

  <%= content do %>
    <%= render(:partial => 'plate_printing') %>

    <% @presenter.control_tube_view do %>
      <%= section do %>
        <h2>Print tube labels</h2>
        <%= multiple_barcodes_printing_form(
              @presenter.plate.tubes.map(&:barcode),
              :redirection_url => pulldown_plate_path(@presenter.plate),
              :text            => 'MX Library tube'
        ) %>
      <% end %>
    <% end %>
  <% end %>

  <%= footer %>
<% end %>

<%= page(:failing) do %>
  <%= header(@presenter, 'Fail wells') %>

  <%= content do %>
    <%= render(:partial => 'fail_wells', :locals => { :presenter => @presenter }) %>
  <% end %>

  <%= footer %>
<% end %>
