<!-- Start of first page -->
<div data-role="page" id="summary">

  <div data-role="header">
    <h1><%= @plate_presenter.plate.plate_purpose.name.titleize %>: <%= @plate_presenter.plate.barcode.ean13 %> - Summary</h1>
    <%= link_to "Search", search_path, :'data-direction' => "reverse", :'data-icon' => "search", :'data-theme' => "b"  %>
  </div><!-- /header -->

  <div data-role="content">
    
    <h2>Source Plate</h2>
    <%= render :partial => "pooled_plate", :locals => {:plate_presenter => @plate_presenter} %>
    <br/>
    <h2>Pooled Plate</h2>
    <%= render :partial => "plate", :locals => {:plate_presenter => @plate_presenter} %>
    <br/>
    <p><%= @plate_presenter.plate.uuid %></p>
  </div><!-- /content -->


  <%= render :partial => 'plate_footer' %>
</div><!-- /page -->


<!-- Start of second page -->
<div data-role="page" id="state">

  <div data-role="header">
    <h1><%= @plate_presenter.plate.plate_purpose.name.titleize %>: <%= @plate_presenter.plate.barcode.ean13 %> - State</h1>
    <%= link_to "Search", search_path, :'data-direction' => "reverse", :'data-icon' => "search", :'data-theme' => "b"  %>
  </div><!-- /header -->

  <div data-role="content">
    <% @plate_presenter.control_state_change do |states| %>
      <%= semantic_form_for(@plate_presenter.plate, :url => plate_path(@plate_presenter.plate.uuid), :as => :plate, :html => {:method => :put}) do |f| %>
        <%= f.inputs :name => 'Set State' do %>
          <%= f.input :state, :label => 'Current State', 
            :collection => states.map { |s| [ s.titleize, s ] },
            :include_blank => false
           %>
          <%= f.commit_button 'Change State' %>

        <% end %>
      <%- end %>
      <hr/>
    <% end %>

    <%# Move this to the new method of creation controller %>
    <% @plate_presenter.control_tube_preview do %>
      <%= form_tag new_plate_tube_path(@plate_presenter.plate.uuid), :method => 'get' do %>
          <%= submit_tag "Preview Tubes", :name => nil, :class => "submit" %>
      <% end %>
    <%- end -%>
  </div><!-- /content -->

  <%= render :partial => 'plate_footer' %>
</div><!-- /page -->


<%= render :partial => 'plate_printng' %>

