<%= page(:summary) do %>
  <%= header do %>
    <h1><%= @presenter.plate.plate_purpose.name.titleize %>: <%= @presenter.plate.barcode.ean13 %> - Summary</h1>
  <% end %>

  <%= content do %>
    <%= @presenter.control_source_view do %>
      <h2>Source Plate</h2>
      <%= render :partial => "pooled_plate", :locals => {:plate_presenter => @presenter} %>
      <br/>
    <% end %>

    <h2>Pooled Plate</h2>
    <%= render :partial => "plate", :locals => {:plate_presenter => @presenter} %>

    <% @presenter.control_tube_view do %>
      <h2>Tubes</h2>
      <% @presenter.plate.tubes.each do |tube| %>
        <p><%= tube.barcode.ean13 %></p>
      <% end %>
    <% end %>
  <% end %>

  <%= footer %>
<% end %>

<%= page(:state) do %>
  <%= header do %>
    <h1><%= @presenter.plate.plate_purpose.name.titleize %>: <%= @presenter.plate.barcode.ean13 %> - State</h1>
  <% end %>

  <%= content do %>
    <%= state_change_form(@presenter) %>

    <%# Move this to the new method of creation controller %>
    <% @presenter.control_tube_preview do %>
      <% section do %>
        <%= form_tag new_pulldown_plate_tube_path(@presenter.plate.uuid), :method => 'get' do %>
          <%= submit_tag "Preview Tubes", :name => nil, :class => "submit" %>
        <% end %>
      <% end %>
    <%- end -%>
  <% end %>

  <%= footer %>
<% end %>

<%= page(:printing) do %>
  <%= header do %>
    <h1><%= @presenter.plate.plate_purpose.name.titleize %>: <%= @presenter.plate.barcode.ean13 %> - Print</h1>
  <% end %>

  <%= content do %>
    <%= render(:partial => 'plate_printing') %>

    <% @presenter.control_tube_view do %>
      <%= section do %>
        <h2>Print tube labels</h2>
        <%= multiple_barcodes_printing_form(
              @presenter.plate.tubes.map(&:barcode),
              :redirection_url => pulldown_plate_path(@presenter.plate),
              :text            => 'MX Library tube'
        ) %>
      <% end %>
    <% end %>
  <% end %>

  <%= footer %>
<% end %>
