<h1>Search for Plates</h1>

<%= form_tag plate_search_path, :method => 'get' do %>
    <%= label_tag :user_id, "User ID" %>
    <%= text_field_tag :user_id, params[:user_id] %>
    <%= label_tag :plate_barcode, "Plate Barcode" %>
    <%= text_field_tag :plate_barcode, params[:plate_barcode] %>
    <%= submit_tag "Search", :name => nil, :class => "submit" %>
<% end %>
