<%= page(:'plate-show-page', :'show-page') do %>
  <script type="text/javascript">
    SCAPE.labware = {
      'state':     '<%= @presenter.state %>',
      'tabViews':  {},
      'pools':     <%= raw @presenter.labware.pools.pools.to_json(root: false) %>,
      'uuid':     '<%= @presenter.labware.uuid %>'
    };
  </script>

  <%= content do %>
    <%= card without_block: true, id: 'main-content' do %>
      <div class="card-body">
        <h2 id="plate-title" class="card-title">
          <%= @presenter.title %>
          <%= state_badge(@presenter.state) %>
          <%= image_tag("icon_#{@presenter.labware.priority}_flag.png", size: "32x32") %>
        </h2>
      </div>
      <%= render partial: 'warnings', locals: { presenter: @presenter } %>
      <% if @presenter.well_failing_applicable? %>
        <div id="labware-well-failing" class='collapse'>
          <%= render(partial: 'fail_wells', locals: { presenter: @presenter }) %>
        </div>
      <% end %>
      <div id="labware-summary" class='collapse show'>
        <%= render(partial: @presenter.summary_partial, locals: { presenter: @presenter }) %>
      </div>
    <% end %>
  <% end %>

  <%= render partial: 'sidebar', locals: { presenter: @presenter } %>
<% end %>
