<%= page(:'plate-show-page', :'show-page') do %>
  <script type="text/javascript">
    SCAPE.labware = {
      'state':     '<%= @presenter.labware.state %>',
      'tabViews':  {},
      'pools':     <%= @presenter.labware.pools.to_json.html_safe %>,
      'uuid':     '<%= @presenter.labware.uuid %>'
    };
  </script>

  <%= content do %>
    <%= card without_block: true do %>
      <div class="card-block">
        <h2 id="plate-title" class="card-title">
          <%= @presenter.title %>
          <span class="tag tag-<%= state_style(@presenter.state) %>"><%= @presenter.state %></span>
          <%= image_tag("icon_#{@presenter.labware.priority}_flag.png", :size=>"32x32") %>
        </h2>
      </div>

      <div id="labware-summary">
        <%= render(partial: @presenter.summary_partial, locals: { presenter: @presenter }) %>
      </div>
    <% end %>
  <% end %>

  <%= render partial: 'sidebar', locals: { presenter: @presenter } %>
<% end %>
