<%= page(:summary) do %>
  <%= header(@presenter, 'Summary') do %>
  <% end -%>

  <%= content do %>
    <%= flash_messages %>
    <%= render(:partial => @presenter.summary_partial, :locals => { :presenter => @presenter }) %>
  <% end %>

  <%= footer %>
<% end %>

<%= page(:state) do %>
  <%= header(@presenter, 'State') %>

  <%= content do %>
    <%= @presenter.control_additional_creation do %>
      <h2>Create Child Plate</h2>
     <ul data-role="listview" data-inset="true">
        <%= render(:partial => @presenter.additional_creation_partial, :locals => { :presenter => @presenter }) %>
     </ul>

      <br/>
      <br/>
    <% end %>
    <%= state_change_form(@presenter) %>
  <% end %>

  <%= footer %>
<% end %>

<%= page(:printing) do %>
  <%= header(@presenter, 'Print') %>

  <%= content do %>
    <%= render(:partial => 'plate_printing') %>
    <%= @presenter.control_additional_printing do %>
      <% section do %>
        <%= render(:partial => @presenter.printing_partial, :locals => { :presenter => @presenter }) %>
      <% end %>
    <% end %>
  <% end %>

  <%= footer %>
<% end %>

<%= page(:failing) do %>
  <%= header(@presenter, 'Fail wells') %>

  <%= content do %>
    <%= render(:partial => 'fail_wells', :locals => { :presenter => @presenter }) %>
  <% end %>

  <%= footer %>
<% end %>
