<%= content_for(:title, @presenter.document_title) %>

<%= content_for(:page_id, :'plate-show-page') %>

<%= content_for(:labware_content) do %>
  <%= render 'content_header', presenter: @presenter, type: 'plate' %>
  <%= render 'warnings', presenter: @presenter %>
  <%= render 'info', presenter: @presenter %>

  <% if @presenter.respond_to?(:show_scrna_pooling?) && @presenter.show_scrna_pooling? %>
    <%= render 'pooling_info', presenter: @presenter %>
  <% end %>

  <% if @presenter.well_failing_applicable? %>
    <div id="labware-well-failing" class='well-fail-toggle collapse'>
      <%= render 'fail_wells', presenter: @presenter %>
    </div>
  <% end %>

  <div id="labware-summary" class='well-fail-toggle collapse show'>
    <%= render @presenter.summary_partial, presenter: @presenter %>
  </div>
<% end %>

<%= content_for(:labware_sidebar) do %>
  <%= render 'plates/sidebars/container', presenter: @presenter %>
<% end %>
