<%= page(:'plate-show-page') do %>
  <%= header(@presenter, 'Summary') do %>
    <div data-role="navbar">
      <ul>
        <li><a href="#" class="navbar-link" data-view-class="left-side" rel="plate-summary" data-transition="none" data-icon="info">Summary</a></li>
        <% if current_user_uuid.present? -%>
          <li><a href="#" class="navbar-link" data-view-class="left-side" rel="well-failing" data-transition="none" data-icon="delete">Fail Wells</a></li>
          <li><a href="#" class="navbar-link" rel="plate-creation" data-view-class="right-side" data-transition="none" data-icon="add">Create Child Plate</a></li>
          <li><a href="#" class="navbar-link" rel="plate-state" data-view-class="right-side" data-transition="none" data-icon="gear">State</a></li>
        <% end -%>
        <li><a href="#" class="navbar-link" rel="plate-printing" data-view-class="right-side" data-transition="none" data-icon="grid">Printing</a></li>
      </ul>
    </div>
  <% end -%>

  <%= content do %>
    <%= flash_messages %>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <div id="plate-summary" class="left-side">
          <h2>Plate Status - <%= @presenter.plate.state.titleize %></h2>
          <%= render :partial => "plate", :locals => {:plate_presenter => @presenter}  %>
          <%= link_to "Download Worksheet CSV", "#{pulldown_plate_path(@presenter.plate.uuid)}.csv", :rel => "external" %>
          <%= render :partial => 'plate_information', :locals => { :plate => @presenter.plate } %>
        </div>

        <div id="well-failing" class="left-side" style="display:none;">
          <h2>Fail Wells</h2>
          <%= render(:partial => 'fail_wells', :locals => { :presenter => @presenter }) %>
        </div>
      </div>


      <div class="ui-block-b">
        <div id="plate-printing"  class="right-side" style="display:none;">
          <%= render(:partial => 'plate_printing') %>
          <%= @presenter.control_additional_printing do %>
            <% section do %>
              <%= render(:partial => @presenter.printing_partial, :locals => { :presenter => @presenter }) %>
              <%= @presenter.control_worksheet_printing do %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div id="plate-creation" class="right-side" style="display:none;">
          <%= @presenter.control_additional_creation do %>
            <h2>Create Child Plate</h2>
            <ul data-role="listview" data-inset="true">
              <%= render(:partial => @presenter.additional_creation_partial, :locals => { :presenter => @presenter }) %>
            </ul>
          <% end %>
        </div>

        <div id="plate-state" class="right-side">
          <%= state_change_form(@presenter) %>
        </div>
      </div>

    </div>

  <% end %>

<% end %>

