<%= page(:'plate-show-page', :'show-page') do %>
<script type="text/javascript">
  SCAPE.labware = {
    'state':     '<%= @presenter.labware.state %>',
    'tabViews':  <%= @presenter.tab_views.to_json.html_safe %>,
    'tabStates': <%= get_tab_states(@presenter) %>,
    'pools':     <%= @presenter.labware.pools.to_json.html_safe %>,
    'uuid':     '<%= @presenter.labware.uuid %>'
  };
</script>



  <%= header(@presenter, 'Plate view') do %>
    <div data-role="navbar">
      <ul id="navbar">
        <li id="labware-summary-button"><a href="#" class="navbar-link" rel="labware-summary-button" data-transition="none" data-icon="info">Summary and Printing</a></li>
        <% if current_user_uuid.present? -%>
          <li id="labware-state-button"><a href="<%= @presenter.statechange_link(self) %>" class="navbar-link" rel="labware-state-button" data-icon="gear"><%= @presenter.statechange_label %></a></li>
          <li id="well-failing-button"><a href="#" class="navbar-link" rel="well-failing-button" data-icon="delete">Fail Wells</a></li>
          <li id="labware-creation-button"><a href="#" class="navbar-link" rel="labware-creation-button" data-icon="add">Create next plate</a></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <%= content do %>
    <%= flash_messages %>
    <h1><%= t("#{labware_type_and_state}.state_text") %></h1>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <div id="labware-summary" class="scape-ui-block">
          <%= render(:partial => @presenter.summary_partial, :locals => { :presenter => @presenter }) %>
        </div>
          <%#= link_to "Download Worksheet CSV", "#{illumina_b_plate_path(@presenter.labware.uuid)}.csv", :rel => "external" %>

        <div id="well-failing" class="scape-ui-block" style="display:none;">

          <h2>Fail Wells</h2>
          <%= render(:partial => 'fail_wells', :locals => { :presenter => @presenter }) if well_failing_applicable?(@presenter) %>
        </div>
      </div>


      <div class="ui-block-b">
        <div id="plate-printing"  class="scape-ui-block" style="display:none;">
          <div class="instructions ui-body">
            <h3><%= t("#{labware_type_and_state}.instruction_summary") %></h3>
            <ol>
              <%= t("#{labware_type_and_state}.instructions").html_safe %>
            </ol>
          </div>

          <%= render(:partial => 'labware/qc_data') if @presenter.has_qc_data? %>

          <%= render(:partial => 'plate_printing') if @presenter.allow_plate_label_printing? %>

          <%= @presenter.control_additional_printing do %>
            <%= section do %>
              <%= render(:partial => @presenter.printing_partial, :locals => { :presenter => @presenter }) %>
              <%= @presenter.control_worksheet_printing do %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div id="plate-creation" class="scape-ui-block" style="display:none;">
          <div class="instructions ui-body">
            <h3><%= t("#{labware_type_and_state}.instruction_summary") %></h3>
            <ol>
              <%= t("#{labware_type_and_state}.instructions").html_safe %>
            </ol>
          </div>

          <%= @presenter.control_additional_creation do %>
            <h2>Create Child Plate</h2>
            <%= render(:partial => @presenter.additional_creation_partial, :locals => { :presenter => @presenter }) %>
          <% end %>
        </div>

        <div id="plate-state" class="scape-ui-block" style="display:none;">
          <div class="instructions ui-body">
            <h3><%= t("#{labware_type_and_state}.instruction_summary") %></h3>
            <ol>
              <%= t("#{labware_type_and_state}.instructions").html_safe %>
            </ol>
          </div>

          <%= state_change_form(@presenter) %>
        </div>

        <div id="well-failing-instructions" class="scape-ui-block" style="display:none;">
          <div class="instructions ui-body">
            <h3>Well failing</h3>
            <p>
            Highlight the wells that have failed and are to be omitted from the pool(s). Once you are happy with your selection, click ‘Fail wells’.
            </p>
            <p>
            N.B. <strong>DO NOT fail wells unless there are no other options</strong> – failed wells cannot be added back in later (should a subsequent re-PCR work, for example).
            </p>

            <p>
            <em>If in doubt, seek advice from a senior member of the T180 library prep team</em>
            </p>
          </div>
        </div>
      </div>

    </div>

  <% end %>

<% end %>

