<li class="labware">
  <%= link_to(tube, id: "tube_#{tube.barcode.ean13}", class: 'list-group-item-action') do %>
    <h3 class="barcode list-group-item-heading"><%= useful_barcode(tube.barcode) %> <%= state_badge(tube.state) %></h3>
    <p><%= tube.name %>
    <dl>
      <dt>Created</dt><dd><%= tube.created_at.to_fs(:date_created) %></dd>
      <dt>Type</dt><dd><%= tube.purpose_name %></dd>
    </dl>
  <% end -%>
</li>
