<%= page(:'creation-page') do %>
  <%= content do %>
    <h2>Baited Plate Preview</h2>
    <div>
      <div>
        <%= render partial: 'plates/plate', locals: { plate_presenter: @labware_creator } %>
      </div>
    </div>
    <br />
  <% end %>

  <%= sidebar do %>
    <%= card title: 'Instructions' do %>
        <p class='card-text'>Carefully check the bait layout against your worksheet.</p>
        <p class='card-text'>Click on 'Create plate' button.</p>

        <ul id="key" class="list-group pool-colours">
          <%- @labware_creator.baits.each do |bait| -%>
              <li class="list-group-item">
                <div class="tube-view">
                  <div class="aliquot <%= bait_colour(bait) %>">&nbsp;</div>
                </div>
                <%= bait.bait %>
              </li>
          <%- end -%>
        </ul>
        <%= form_for(@labware_creator, as: :plate, url: plates_child_plate_creation_path(@labware_creator.parent)) do |f| %>
          <%= f.hidden_field :purpose_uuid, as: :hidden, value: @labware_creator.purpose_uuid %>
          <%= f.hidden_field :parent_uuid, as: :hidden, value: @labware_creator.parent_uuid %>
          <%= f.submit 'Create plate', class: 'btn btn-outline-primary w-100', style: 'padding: 10px' %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
