<%= page(:'custom-pooling-page') do %>
  <%= header(@creation_form, 'Custom pooling') %>

  <%= content do %>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <h2>Source Plate</h2>
        <%= semantic_form_for(
          @creation_form,
          :url => illumina_b_plate_children_path(@creation_form.parent),
          :as => :plate,
          :html => {:method => :post}) do |form|
        %>

            <%= form.inputs do %>
              <%= form.input :purpose_uuid, :as => :hidden, :value =>@creation_form.purpose_uuid %>
              <%= form.input :parent_uuid, :as => :hidden, :value => @creation_form.parent_uuid %>
            <% end %>

            <%= render :partial => "pooled_plate", :locals => {:plate_presenter => @creation_form, :form => form} %>

            <h2>Destination Plate</h2>
            <%= render :partial => "plates/plate", :locals => {:plate_presenter => @creation_form, :id => "destination_plate"} %>
            <br/>
            <%= form.submit 'Create Plate',
              :class => 'create-button',
              :'data-theme' => 'b',
              :'data-icon'  => 'plus'
            %>
          <% end %>
      </div>

      <div class="ui-block-b">
        <div class="instructions ui-blody">
          <h3>Custom Pooling</h3>
          <p>You can choose a custom pooling layout by: </p>
          <ol>
            <li>Selecting aliquots from the source place.</li>
            <li>Choosing a well on the destination plate.</li>
          </ol>
          <p>NB. Final pipeline pooling will be as per the original submission.</p>
        </div>
      </div>
    </div>
  <% end %>


  <script type="text/javascript">
    var coloursByLocation = <%= colours_by_location.to_json.html_safe %>;
  </script>
<% end %>
