<div id='custom-tagged-plate-page'
     data-sequencescape-api="<%= Limber::Application.config.api.v2.connection_options.js_url %>"
     data-sequencescape-api-key="<%= Limber::Application.config.api.v2.connection_options.authorisation %>"
     data-purpose-uuid="<%= @labware_creator.purpose_uuid %>"
     data-purpose-name="<%= @labware_creator.purpose_name %>"
     data-target-url="<%= plate_child_plate_creation_path(@labware_creator.parent) %>"
     data-parent-uuid="<%= @labware_creator.parent_uuid %>"
     data-tags-per-well="<%= @labware_creator.tags_per_well %>"
     data-tag-group-adapter-type-name-filter="<%= @labware_creator.tag_group_adapter_type_name_filter %>"
     data-filters="<%= @labware_creator.filters %>">
  <div class="spinner-dark">Loading...</div>
</div>
