<div id='multi-stamp-library-splitter-page'
     data-sequencescape-api="<%= Limber::Application.config.api.v2.connection_options.js_url %>"
     data-sequencescape-api-key="<%= Limber::Application.config.api.v2.connection_options.authorisation %>"
     data-purpose-uuid="<%= @labware_creator.purpose_uuid %>"
     data-children-library-type-to-purpose-mapping-json="<%= @labware_creator.children_library_type_to_purpose_mapping.to_json %>"
     data-target-url="<%= plate_child_plate_creations_path(@labware_creator.parent) %>"
     data-requests-filter="<%= @labware_creator.request_filter %>"
     data-transfers-layout="<%= @labware_creator.transfers_layout %>"
     data-transfers-creator="<%= @labware_creator.transfers_creator %>"
     data-target-rows="<%= @labware_creator.target_rows %>"
     data-target-columns="<%= @labware_creator.target_columns %>"
     data-source-plates="<%= @labware_creator.source_plates %>"
     data-max-wells-count="<%= @labware_creator.max_wells_count %>"
     data-default-volume="<%= @labware_creator.default_volume %>">
  <div class="spinner-dark">Loading...</div>
</div>
