<div id='multi-stamp-tubes-page'
     data-sequencescape-api="<%= Limber::Application.config.api.v2.connection_options.js_url %>"
     data-sequencescape-api-key="<%= Limber::Application.config.api.v2.connection_options.authorisation %>"
     data-purpose-uuid="<%= @labware_creator.purpose_uuid %>"
     data-purpose-name="<%= @labware_creator.purpose_name %>"
     data-parent-purpose-name="<%= @labware_creator.parent.purpose.name %>"
     data-target-url="<%= tube_child_plate_creations_path(@labware_creator.parent) %>"
     data-requests-filter="<%= @labware_creator.request_filter %>"
     data-transfers-layout="<%= @labware_creator.transfers_layout %>"
     data-transfers-creator="<%= @labware_creator.transfers_creator %>"
     data-target-rows="<%= @labware_creator.target_rows %>"
     data-target-columns="<%= @labware_creator.target_columns %>"
     data-source-tubes="<%= @labware_creator.source_tubes %>"
     data-allow-tube-duplicates="<%= @labware_creator.allow_tube_duplicates? %>"
     data-require-tube-passed="<%= @labware_creator.require_tube_passed? %>"
     data-acceptable-purposes="<%= @labware_creator.acceptable_purposes %>">
  <div class="spinner-dark">Loading...</div>
</div>
