<%= page(:'multi-stamp-tubes-using-tube-rack-scan-page') do -%>
  <%= content do %>
    <%= card title: 'Help' do %>
      <p>Upload the tube rack scan csv file describing the tube rack barcode, and positions and barcodes of the tubes. An example is shown below:</p>
      <table class='table table-sm'>
        <tbody>
          <tr><td>TR12345678</td><td>A1</td><td>AB00000001</td></tr>
          <tr><td>TR12345678</td><td>B1</td><td>AB00000002</td></tr>
          <tr><td>TR12345678</td><td>C1</td><td>AB00000003</td></tr>
          <tr><td>TR12345678</td><td>D1</td><td>AB00000004</td></tr>
          <tr><td>TR12345678</td><td>E1</td><td>AB00000005</td></tr>
          <tr><td>TR12345678</td><td>F1</td><td>AB00000006</td></tr>
          <tr><td>TR12345678</td><td>G1</td><td>AB00000007</td></tr>
          <tr><td>TR12345678</td><td>H1</td><td>AB00000008</td></tr>
          <tr><td>TR12345678</td><td>A2</td><td>AB00000009</td></tr>
          <tr><td>TR12345678</td><td>B2</td><td>AB00000010</td></tr>
          <tr><td>TR12345678</td><td>C2</td><td>AB00000011</td></tr>
          <tr><td>TR12345678</td><td>D2</td><td>NO READ</td></tr>
          <tr><td>TR12345678</td><td>E2</td><td>AB00000013</td></tr>
          <tr><td>etc...</td></tr>
        </tbody>
      </table>
      <p>NB. NO READ, NOSCAN or EMPTY are valid values for the third column. This is interpreted as meaning that the tube rack scanner was not able to read a tube barcode in that position. Usually this happens when the position is empty. This position will be empty in the corresponding child plate wells.</p>
    <% end %>
  <% end %>
  <%= sidebar do %>
    <%= card title: 'File upload' do %>
      <%= form_for(@labware_creator, as: :plate, url: plate_child_plate_creations_path(@labware_creator.parent)) do |f| %>
        <%= f.hidden_field :purpose_uuid %>
        <div class="form-group">
          <%= f.file_field :file, accept: '.csv', required: true %>
        </div>
        <%= f.submit class: 'btn btn-success' %>
      <% end %>
    <% end %>
  <% end %>
<%- end -%>
