<%= page(:'creation-page') do %>
  <%= content do %>
    <%= card without_block: true do %>
      <h3 class='card-header'>Primer Panel</h3>
      <div class='card-body'>
        <dl>
          <dt>Primer Panel</dt><dd><%= @labware_creator.panel_name %></dd>
          <dt>PCR Program</dt><dd><%= @labware_creator.pcr_program %></dd>
          <dt>PCR Duration</dt><dd><%= @labware_creator.pcr_duration %></dd>
        </dl>
      </div>
    <% end %>
  <% end %>

  <%= sidebar do %>
    <%= card without_block: true do %>
      <h3 class='card-header'>Actions</h3>
        <%= form_for(@labware_creator, as: :plate, url: plate_child_plate_creation_path(@labware_creator.parent), html: { method: :post }) do |f| %>
          <%= f.hidden_field :purpose_uuid, as: :hidden, value: @labware_creator.purpose_uuid %>
          <%= f.hidden_field :parent_uuid, as: :hidden, value: @labware_creator.parent_uuid %>
          <%= f.submit 'Create plate', class: 'btn btn-outline-primary w-100', style: 'padding: 10px' %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
