<%= page(:'creation-page') do %>
  <%= header(@creator_form, 'Choose columns to transfer') %>

  <% content do %>
    <div>
      <div>
        <h2> Transfer Template </h2>
        <%= semantic_form_for(@creator_form, as: :plate, url: limber_plate_children_path(@creator_form.parent), html: {method: :post}) do |f| %>
          <%= f.inputs do %>
            <%= f.input :purpose_uuid, as: :hidden, value:@creator_form.purpose_uuid %>
            <%= f.input :parent_uuid, as: :hidden, value: @creator_form.parent_uuid %>
            <%= f.input :transfer_template_uuid, label: false, as: :select, collection: @creator_form.transfer_template_uuids, include_blank: false %>
          <% end %>
          <%= f.buttons do %>
            <%= f.commit_button 'Create Plate',
              button_html: {
              :"data-theme" => "b",
              :"data-icon"  => "plus"
            }
          %>

        <% end %>
      <% end %>
    </div>

    <div>
      <h2>Destination Plate</h2>
      <%= render partial: 'plates/plate', locals: { plate_presenter: @creator_form, id: "transfer-plate" } %>
    </div>

  </div>

<% end %>
<% end %>
