<%= page(:'tag-creation-page') do -%>
  <%= header(@creation_form, 'Choose tag layout') %>

  <%= content do %>
    <%= semantic_form_for(@creation_form, :as => :plate, :url => illumina_b_plate_children_path(@creation_form.parent), :html => {:method => :post}) do |f| %>
    <div class="ui-grid-a">
      <div class="ui-block-a">
      <%= f.inputs do %>
        <%= f.input :plate_purpose_uuid, :as => :hidden, :value =>@creation_form.plate_purpose_uuid %>
        <%= f.input :parent_uuid, :as => :hidden, :value => @creation_form.parent_uuid %>
      <%= render :partial => 'plates/plate', :locals => { :plate_presenter => @creation_form, :id => 'tagging-plate' } %>
        <%= f.input :tag_layout_template_uuid, :label => false, :as => :select, :collection => @creation_form.tag_layout_templates, :include_blank => false %>
      <%- end -%>
    <br/>
        <%= f.submit 'Create Plate',
          :"data-theme"   => "b",
          :"data-icon"    => "plus",
          :'data-iconpos' => "right"
        %>
      </div>

      <div class="ui-block-b">
        <h2>Tag Replacement palette</h2>
        <div id="substitutions" style="">
          <ul data-theme"d" data-role="listview" data-inset="true">
            
          </ul>
        </div>
        <br/>
        <div id="instructions" class="instructions ui-body">
          <h2>Instructions</h2>
          <ol>
            <li>Carefully check the index and pool layout against your worksheet.</li>
            <li>Select the correct tag set.</li>
            <li>Substitute tags as necessary using the Tag Replacement palette.</li>
          </ol>

          To substitute a tag first select it on the plate then choose a replacement from the list of available tags.
        </div>
        <div id="replacement-tags" style="display:none">
          <ul id="tag-palette" 
            data-theme="d" 
            data-role="listview"
            data-filter-placeholder="Filter tags..." 
            data-inset="true" 
            data-filter="true">
          </ul>
        </div>
      </div>
    </div>
    <%- end -%>


<script type="text/javascript" charset="utf-8">
  (function(exports, $, undefined){
     $.extend(SCAPE, {
      tag_layouts:  <%= @creation_form.tag_groups.to_json.html_safe %>,
      tags_by_name: <%= @creation_form.tags_by_name.to_json.html_safe %>
     });
   })(window,jQuery);
</script>
  <%- end -%>
<%- end -%>

