<%= page(:'tag-creation-page') do -%>
  <%= header(@creation_form, '→ ILB_STD_PCR - Choose tag layout') %>

  <%= content do %>
    <%= semantic_form_for(@creation_form, :as => :plate, :url => illumina_b_plate_children_path(@creation_form.parent), :html => {:method => :post}) do |f| %>
    <div class="ui-grid-a">
      <div class="ui-block-a">
      <%= render :partial => 'plates/plate', :locals => { :plate_presenter => @creation_form, :id => 'tagging-plate' } %>
      <%= f.inputs do %>
        <%= f.input :purpose_uuid, :as => :hidden %>
        <%= f.input :parent_uuid, :as => :hidden %>
        <% @creation_form.index_tag_field do -%>
          <div data-role="fieldcontain">
            <%= f.input :index_tag_tube_barcode, :input_html => {'data-info-panel'=>'index-tag-tube-info', 'data-qcable-type'=>'Index Tag Tubes', 'data-approved-list'=>'index_tags'} %>
          </div>
        <% end -%>
        <div data-role="fieldcontain">
          <%= f.input :tag_plate_barcode, :input_html => {'data-info-panel'=>'tag-plate-info', 'data-qcable-type'=>'IDT Tags','data-approved-list'=>'tag_layouts'} %>
        </div>
      <%- end -%>
      <br/>
      <% @creation_form.index_tag_field do -%>
        <%= render :partial => 'plate_creation/tag_information_panel', :locals => {:panel_type => 'index tag tube', :form=>f} %>
      <% end %>
      <%= render :partial => 'plate_creation/tag_information_panel', :locals => {:panel_type => 'tag plate', :form=>f} %>
      <%= f.submit 'Create Plate',
        :"data-theme"   => "b",
        :"data-icon"    => "plus",
        :'data-iconpos' => "right",
        :disabled => 'disabled'
      %>
    </div>

      <div class="ui-block-b">
        <h2>Tag plate addition</h2>
        <br/>
        <div id="instructions" class="instructions ui-body">
          <h2>Instructions</h2>
          <ol>
            <li>Scan an index tag tube into 'Index tag tube barcode'.</li>
            <li>Scan a target tag plate into 'Tag plate barcode'.</li>
            <li>Confirm the details and ensure both are passed as valid.</li>
            <li>Click 'Create plate'</li>
            <li>This will link up the tag plate.</li>
          </ol>

          To substitute a tag first select it on the plate then choose a replacement from the list of available tags.
        </div>
      </div>
    </div>
    <%- end -%>


<script type="text/javascript" charset="utf-8">
  (function(exports, $, undefined){
     $.extend(SCAPE, {
      tag_layouts:  <%= @creation_form.tag_groups.to_json.html_safe %>,
      index_tags:  <%= @creation_form.index_tags.to_json.html_safe %>,
      tags_by_name: <%= @creation_form.tags_by_name.to_json.html_safe %>
     });
   })(window,jQuery);
</script>
  <%- end -%>
<%- end -%>

