<%= page(:'tag-creation-page', prevent_row: true) do -%>
  <script type="text/javascript" charset="utf-8">
    (function(exports, $, undefined){
       $.extend(SCAPE, {
        tag_layouts: <%= @creation_form.tag_groups.to_json.html_safe %>,
        tag2s: <%= @creation_form.tag2s.to_json.html_safe %>,
        dualRequired: <%= @creation_form.requires_tag2? %>
       });
     })(window,jQuery);
  </script>
  <% form_for(@creation_form, as: :plate, url: limber_plate_children_path(@creation_form.parent), html: { class: 'row' }) do |f| %>
    <%= content do %>
      <%= card without_block: true, id: 'main-content' do %>
        <div id="labware-summary-div">
          <%= render partial: 'plates/plate', locals: { plate_presenter: @creation_form, id: 'tagging-plate' } %>
        </div>
        <%= render partial: 'tag_information_panel', locals: { panel_type: 'tag plate', form: f, required: true } %>
        <% @creation_form.tag2_field do -%>
          <%= render partial: 'tag_information_panel', locals: { panel_type: 'tag2 tube', form: f, required: @creation_form.require_tag_tube? } %>
        <% end %>
      <% end %>
    <%- end -%>

    <%= sidebar do %>
      <%= card title: 'Tag plate addition', id: 'tag-help' do %>
        <%= t("#{@creation_form.help}_html", scope: [:tagged_plate, :help]) %>
      <% end %>

      <%= card title:'Set up tags' do %>
        <%= f.hidden_field :purpose_uuid %>
        <%= f.hidden_field :parent_uuid %>
        <%= f.label :tag_plate_barcode %>
        <%= f.text_field :tag_plate_barcode,
                         data: {
                           'info-panel'=>'tag-plate-info',
                           'qcable-type'=>'Tag plate',
                           'approved-list'=>'tag_layouts',
                           'dual-index' => @creation_form.tag_plate_dual_index?
                         },
                         class: 'form-control', required: true %>
        <% @creation_form.tag2_field do -%>
            <p><em>Available templates:</em> <%= @creation_form.tag2_names.join(', ') %></p>
            <%= f.label :tag2_tube_barcode %>
            <%= f.text_field :tag2_tube_barcode,
                             data: {'info-panel'=>'tag2-tube-info', 'qcable-type'=>'Tag Tube', 'approved-list'=>'tag2s'},
                             class: 'form-control', required: @creation_form.require_tag_tube? %>
        <% end -%>
        <%= f.submit 'Create Plate', disabled: 'disabled', class: 'btn btn-success btn-lg', id: 'plate_submit' %>
        <small id="submit-summary" class="form-text text-muted">Scan in all required tag sources before clicking 'Create Plate'</small>
      <%- end -%>
    <%- end -%>
  <%- end -%>
<%- end -%>
