<%= content do %>
  <h1>Limber Pipeline Progress Overview <small class="text-muted"><br/>
  <%= @pipeline_group_name -%></small></h1>

  <!-- filters - reload the page with a new param -->

  <!-- Date selectors -->
  <div class="btn-group btn-group-sm mb-2" role="group" aria-label="Date selectors">
    <%
      @dates = {
        'All time' => Date.new(1970, 1, 1),
        'Last month' => Date.today.prev_month,
        'Last week' => Date.today.prev_week,
        'Yesterday' => Date.yesterday,
        'Today' => Date.today
      }
    %>
    <%=
      @dates.map do |label, date|
        link_to label, pipeline_progress_overview_path(id: @pipeline_group_name, date: date), method: :get, class: "btn btn-secondary #{'active' if date == @from_date}"
      end.join.html_safe
    %>
  </div>

  <!-- two columns, left for the purposes, right for the labware list -->
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <h3 class="text-center">Purposes</h3>

    <!-- purpose cards, showing counts of labware for each state -->
    <% @ordered_purpose_names.each do |purpose_name| %>
      <div class="stacker">
        <%= render partial: 'purpose_graph', locals: { purpose_name: purpose_name } %>
        <%= render partial: 'purpose_card', locals: { purpose_name: purpose_name } %>
      </div>

    <% end %>
    </div>

    <!-- labware lists -->
    <div class="col-lg-9 col-md-8">
      <h3><%= @purpose || 'Labware' %></h3>
      <%= render partial: 'labware_table', locals: { labware: labware_for_purpose(@labware, @purpose).reject(&:has_children)} %>

      <h5><%= @purpose || 'Labware' %> with Children</h5>
      <%= render partial: 'labware_table', locals: { labware: labware_for_purpose(@labware, @purpose).select(&:has_children) } %>
    </div>
  </div>

<% end %>
