<ul id="ongoing_plates" data-role="listview" data-theme="d" data-filter="true" data-filter-placeholder="Filter plates..." data-inset="true">
  <% plates_by_state(plates).each do |state, sorted_plates| -%>
    <li data-role="list-divider"><%= state.titleize %></li>
    <% sorted_plates.each do |plate| -%>
      <li>
      <%= link_to(plate_path(plate), {:id => "plate_#{plate.barcode.ean13}", :class => "plate-link ui-link-inherit"}) do %>
        <% if plate.priority > 0 %>
           <img src='/images/icon_<%= plate.priority %>_flag.png' class='ui-li-icon'/>
        <% end %>
        <h2 class="ui-li-heading barcode"><%= useful_barcode(plate.barcode) %></h2>
        <p class="ui-li-aside ui-li-desc"><strong><%= plate.state.titleize %></strong></p>
        <% if plate.stock_plate.present? %><p><span class="field-description">Input plate:</span> <%= useful_barcode(plate.stock_plate.barcode) %></p><% end %>
        <p>
          <% if plate.iteration.present? %>Iteration: <%= plate.iteration %><% end %>
          <span class="field-description">Created:</span> <%= plate.created_at.to_formatted_s(:date_created) %>
          <span class="field-description">Type:</span> <%= plate.plate_purpose.name %>
          <span class="field-description">Library Type:</span> <%= plate.library_type_name %>
        </p>
      <% end -%>
      </li>
    <% end -%>
  <% end -%>

  <% if plates.empty? -%>
    <li>
      <h2><i><%= no_results_msg ||= 'No plates found.' %></i></h2>
    </li>
  <% end -%>
</ul>
