<h2>Ongoing plates</h2>
<ul id="ongoing_plates" data-role="listview" data-theme="d" data-filter="true" data-filter-placeholder="Filter plates..." data-inset="true">

  <% plates_by_state(plates).each do |state, sorted_plates| -%>
    <li data-role="list-divider"><%= state.titleize %></li>
    <% sorted_plates.each do |plate| -%>
      <li>
      <%= link_to(plate, :id => "plate_#{plate.barcode.ean13}", :class => "plate-link ui-link-inherit") do %>
        <h2 class="ui-li-heading barcode"><%= useful_barcode(plate.barcode) %></h2>
        <p class="ui-li-aside ui-li-desc"><strong><%= plate.state.titleize %></strong></p>
        <% if plate.stock_plate.present? %><p>Stock plate: <%= useful_barcode(plate.stock_plate.barcode) %></p><% end %>
        <p>
          <% if plate.iteration.present? %>Iteration: <%= plate.iteration %><% end %>
          Created: <%= plate.created_at.to_formatted_s(:date_created) %>
          Type: <%= plate.plate_purpose.name %>
        </p>
      <% end -%>
      </li>
    <% end -%>
  <% end -%>
</ul>
