<%= sidebar do %>
  <div class="btn-group btn-block" role="group">
    <button id="btnGroupWip" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Work in progress
    </button>
    <nav class="inbox-list dropdown-menu" aria-labelledby="btnGroupWip">
     <%= link_to 'Heron-384', pipeline_work_in_progress_path(id: 'heron-384') %>
     <%= link_to 'Heron-96', pipeline_work_in_progress_path(id: 'heron-96') %>
    </nav>
  </div>

  <div class="btn-group btn-block" role="group">
    <button id="btnGroupInboxes" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Inboxes
    </button>
    <nav class="inbox-list dropdown-menu" aria-labelledby="btnGroupInboxes">
     <%= link_to 'New Input Plates', ongoing_plates_path(ongoing_plate: { purposes: stock_plate_uuids }) %>
     <%= link_to 'All Ongoing Plates', ongoing_plates_path %>
     <%= link_to 'My Plates', ongoing_plates_path(ongoing_plate: { show_my_plates_only: '1' }) %>
     <%= link_to 'GBS plates', ongoing_plates_path(ongoing_plate: { purposes: [Settings.purpose_uuids["GBS Stock"]] }) %>
     <%= link_to 'All Ongoing Tubes', ongoing_tubes_path %>
    </nav>
  </div>

  <div class="btn-group btn-block" role="group">
   <button id="btnGroupRobots" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Robots
   </button>
   <nav class="robots-list dropdown-menu" aria-labelledby="btnGroupRobots" id="robots-list">
     <% each_robot do |robot_id,robot_name| %>
       <%= link_to robot_name, robot_path(robot_id) %>
     <% end %>
   </nav>
 </div>

  <%= link_to "Pipelines overview", pipelines_path, id: "btnPipelinesOverview" %>
<% end %>
