<%= sidebar do %>
  <div class="btn-group btn-block" role="group">
   <button id="btnGroupInboxes" type="button" class="btn btn-primary dropdown-toggle btn-lg btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Inboxes
   </button>
   <ul class="dropdown-menu btn-block" aria-labelledby="btnGroupInboxes">
    <li class='dropdown-item'><%= link_to 'New Input Plates', ongoing_plates_path(ongoing_plate: { plate_purposes: stock_plate_uuids }), params: { plate_purposes: stock_plate_uuids } %></li>
    <li class='dropdown-item'><%= link_to 'All Ongoing Plates', ongoing_plates_path %></li>
    <li class='dropdown-item'><%= link_to 'My Plates', ongoing_plates_path(ongoing_plate: { how_my_plates_only: '1' }) %></li>
   </ul>
 </div>

  <div class="btn-group btn-block" role="group">
   <button id="btnGroupRobots" type="button" class="btn btn-primary dropdown-toggle btn-lg btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Robots
   </button>
   <ul class="dropdown-menu btn-block" aria-labelledby="btnGroupRobots" id="robots-list">
     <% each_robot do |robot_id,robot_name| %>
       <li class='dropdown-item'><%= link_to robot_name, robot_path(robot_id) %></li>
     <% end %>
   </ul>
 </div>
<% end %>
