<%= page(:'stock-plates') do %>
  <div data-role="header">
    <h1>Sequencescape - Illumina-B Pipeline</h1>
    <div data-role="navbar">
      <ul>
        <li><a href="<%= search_path %>" >Search</a></li>
        <li><a href="<%= all_stock_plates_path %>" class="ui-btn-active" >New Input Plates</a></li>
        <li><a href="<%= ongoing_plates_path %>" >All Ongoing Plates</a></li>
      </ul>
    </div>
  </div>

  <%= render :partial => 'search_results', :locals => {:search_title => 'New Input Plates', :search_results => @search_results} %>

<% end %>
