<%# Used in inboxes %>
<%= link_to(plate, id: "plate_#{plate.barcode.ean13}", class: "#{plate.role} list-group-item-action") do %>
<li class="labware">
    <% if plate.priority > 0 %>
       <%= vite_image_tag("images/icon_#{plate.priority}_flag.png", size: '64x64', class: 'pull-sm-right') %>
    <% end %>
    <h3 class="barcode list-group-item-heading"><%= useful_barcode(plate.barcode) %> <%= state_badge(plate.state) %></h3>
    <% if plate.stock_plate.present? %><p class="list-group-item-text"><span class="field-description">Input plate:</span> <%= useful_barcode(plate.stock_plate.barcode) %></p><% end %>
    <dl>
      <dt>Created</dt><dd><%= plate.created_at.to_fs(:date_created) %></dd>
      <dt>Type</dt><dd><%= plate.purpose.name %></dd>
      <dt>Library Type</dt><dd><%= plate.library_type_name %></dd>
      <dt>Number of Pools</dt><dd><%= plate.number_of_pools %></dd>
      <dt>Insert Size</dt><dd><%= plate.insert_size %></dd>
      <% unless plate.primer_panel.nil? %>
        <dt>Primer Panel</dt><dd><%= plate.primer_panel.name %></dd>
      <% end %>
    </dl>
</li>
<% end -%>
