<div 
  id="aliquot_<%= id %>"
  class="aliquot <%= container.location %> <%= well_state_value(container) %> <%= column(container) %> col-all"
  rel="<%= "details_#{id}" %>"
  data-pool="<%= container.respond_to?(:pool) ? container.pool_id : '' %>">&nbsp;</div>
