<div class="card-body">
  <h2 id="<%= type %>-title" class="card-title">
    <%= presenter.content_title %>
    <%= state_badge(presenter.state) %>
    <% if presenter.try(:priority) %>
      <%
        # Priorities are defined in Sequencescape:app/models/sample.rb
        priorities = { 0 => :no_priority, 1 => :backlog, 2 => :surveillance, 3 => :priority }
      %>
      <%= vite_image_tag("images/icon_#{presenter.priority}_flag.png",
                         size: '32x32',
                         title: "Labware Priority: #{priorities[presenter.priority].to_s.titleize}",
                         data: { 'bs-toggle': 'tooltip' }) %>
    <% end %>
  </h2>
  <dl class="descriptive-list-inline">
    <dt>Barcode</dt> <dd><%= presenter.barcode %></dd>
    <dt>Input</dt> <dd><%= presenter.input_barcode %></dd>
  </dl>
</div>
