<% if presenter.present? and title.present? %>
  <h1><%= presenter.label_text %>: <%= presenter.labware.barcode.ean13 %> - <%= title %></h1>
<% end %>
<%= link_to 'Back to Inbox',
  root_path,
  :'data-direction' => "reverse",
  :rel              => 'external',
  :'data-icon'      => 'search',
  :'data-theme'     => 'a'
%>
<%= yield(:header) %>
<%#= admin_link(presenter) %>
