<%= form_for(barcode, :url => print_individual_label_path, :as => :label, :html => {:method => :post}) do |f| %>
  <%# Hide the details of what is in the label to be printed %>
  <ul data-role="listview" data-inset="true">
    <%= hidden_field_tag(:redirect_to, redirection_url) %>
    <%= f.hidden_field :prefix %>
    <%= f.hidden_field :number %>
    <%= f.hidden_field :study, :value => text %>

    <li data-role="list-divider">
      <%= label_tag :printer, 'Barcode Printer:' %>
    </li>
    <li >
      <fieldset data-role="controlgroup" data-type="horizontal" class="print_selector">
        <%= select_tag :printer, options_from_collection_for_select(printers_applicable_to(barcode), :uuid, :name, @presenter.default_printer_uuid) %>
        <%= select_tag :number,  options_for_select((1..@presenter.printer_limit).map{|i| [i,i]}, @presenter.default_label_count) %>
      </fieldset>
    </li>
    <li>
      <%= f.submit 'Print Label', :class => 'print-button', :'data-theme' => 'b', :'data-icon' => 'grid' %>
    </li>
  </ul>
<% end %>
