<%= form_for(nil, url: print_jobs_path, as: :print_job, html: {method: :post}) do |f| %>
  <%# Hide the details of what is in the label to be printed %>
    <%= hidden_field_tag "print_job[printer_type]", printers_applicable_to(barcodes).first.type.name %>

    <% barcodes.each do |barcode| %>
      <% barcode.to_h.except(:type).each do |k, v|%>
        <%= hidden_field_tag "print_job[labels][][main_label][#{k}]", value: v %>
      <%end%>
    <% end %>

  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">
      <%= label_tag :printer, 'Barcode Printer:' %>
    </li>
    <li>
      <fieldset data-role="controlgroup" data-type="horizontal" class="print_selector">
        <%= select_tag "print_job[printer_name]", options_from_collection_for_select(printers_applicable_to(barcodes), :name, :name, @presenter.default_tube_printer_uuid) %>
        <%= select_tag "print_job[number_of_copies]",  options_for_select((1..@presenter.printer_limit).map{|i| [i,i]}, @presenter.default_label_count) %>
      </fieldset>
    </li>
    <li><%= f.submit 'Print Labels', class: 'print-button', :'data-theme' => 'b', :'data-icon' => 'grid' %></li>
  </ul>
<% end %>


