<%= form_for(nil, :url => print_multiple_labels_path, :as => :labels, :html => {:method => :post}) do |f| %>
  <%# Hide the details of what is in the label to be printed %>
    <%= hidden_field_tag(:redirect_to, redirection_url) %>

    <% barcodes.each_with_index do |barcode, index| %>
      <%= f.fields_for(index.to_s.to_sym, barcode) do |barcode_form| %>
        <%= barcode_form.hidden_field(:prefix) %>
        <%= barcode_form.hidden_field(:number) %>
        <%= barcode_form.hidden_field(:study, :value => text) %>
      <% end %>
    <% end %>

  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">
      <%= label_tag :printer, 'Barcode Printer:' %>
    </li>
    <li>
    <%= select_tag :printer, options_from_collection_for_select(printers_applicable_to(barcodes), :uuid, :name, @presenter.default_tube_printer_uuid) %>
    </li>
    <li><%= f.submit 'Print Labels', :class => 'print-button', :'data-theme' => 'b', :'data-icon' => 'grid' %></li>
  </ul>
<% end %>


