<div class="mt-3 ml-3 mr-3">
  <strong><%=  @pipeline_info.pipeline_names %></strong> »

  <% if @pipeline_info.great_grandparent_purposes? %>
    ... »
  <% end %>

  <% if @pipeline_info.grandparent_purposes.present? %>
    <%= @pipeline_info.grandparent_purposes %> »
  <% end %>

  <% if @pipeline_info.parent_purposes.present? %>
    <%= @pipeline_info.parent_purposes %> »
  <% end %>

  <strong><%= @labware.purpose.name %></strong>

  <% if @pipeline_info.child_purposes.present? %>
    <span class="text-muted">» <%= @pipeline_info.child_purposes %></span>
  <% end %>

  <% if @pipeline_info.grandchild_purposes? %>
    <span class="text-muted">» ...</span>
  <% end %>
</div>
