<div class="tube card-block row">
  <div id="<%= "aliquot_#{tube.uuid}" %>" class="tube-svg <%= pooling_colour(tube, tube.uuid) %> col-sm-2">
    <%= inline_svg 'tube.svg' %>
  </div>
  <dl class='metadata col-sm-10'>
    <dt>Pool name</dt>    <dd> <%= tube.name %></dd>
    <dt>Barcode</dt>      <dd> <%= link_to(useful_barcode(tube.barcode), limber_tube_path(tube.uuid), target: '_blank') %></dd>
    <dt>Current state</dt><dd> <%= tube.state %></dd>
    <dt>Source wells</dt> <dd> <%= WellHelpers.formatted_range(source) %></dd>
  </dl>
</div>
