<%= card title: 'Attached files', without_block: true do %>
  <% @presenter.control_qc_files do %>
    <ul class="qc_data card-block list-group">
      <% @presenter.each_qc_file do |qc_file| %>
        <li class="list-group-item">
          <a href="<%= @presenter.uuid %>/qc_files/<%= qc_file.uuid %>"><h3><%= qc_file.filename %></h3>
          <p>Created at:<%= qc_file.created_at %></p></a>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div class='card-block'>
    <p>Attach additional files...</p>
    <%= form_tag("#{@presenter.uuid}/qc_files/",:multipart=>true, :method=>'post', :authenticity_token=>true) do %>
      <div>
      <label class="custom-file">
        <input type="file" id="qc_file" name="qc_file" class="custom-file-input"/>
        <span class="custom-file-control"></span>
      </label>
      </div>
      <input type="submit" value="Upload" class="btn"/>
    <% end %>
  </div>
<% end %>
