<%
  labware_path = labware.plate? ? limber_plate_path(labware.uuid) : limber_tube_path(labware.uuid)
  labware_path += "#relatives"
%>
<div class="list-group-item list-group-item-action int-suite-<%= labware.type %>-item">
  <%= labware.purpose.name %> - <%= link_to labware_path, class: 'card-link stretched-link' do %><%= labware.barcode.human%><% end %>
  <%= content_tag(:span, state_badge(labware.state), class: 'float-right' )%>
</div>
