<%# TODO This form code breaks the semantic presenter model pattern.
    The form should use attriutes on the presenter class not the labware directly.
%>
<% presenter.control_state_change do |transitions| %>
  <%= card title: 'Other changes' do %>
    <%= form_for(
          presenter.labware,
          presenter.labware_form_details(self).merge(
            html: { method: :put },
            as: :plate
          )) do |f|
    %>

    <%= hidden_field_tag :purpose_uuid, presenter.purpose.uuid %>
    <%= hidden_field_tag :labware_ean13_barcode, presenter.labware.barcode.ean13 %>

    <div id="state-changer">
      <div class="form-group row">
        <%= label_tag :state, "Change state to" %>
        <%= select_tag :state, options_for_select(transitions.map { |tr| [ tr.human_to_name, tr.to ] }, transitions.first.to), class: 'custom-select' %>
      </div>

      <div id="cancelled_reasons" class="reason form-group row" <%= 'style=display:none;' unless show_state?('cancelled', presenter, transitions) %>>
        <%= label_tag :reason, 'Reason for cancellation' %>
        <%= select_tag(:reason, options_for_select([ 'Contaminated', 'Incorrect protocol used', 'Not required' ]), disable_cancelled_by_state(transitions, class: 'custom-select')) %>
      </div>
      <div id="failed_reasons" class="reason form-group row" <%= 'style=display:none;' unless show_state?('failed', presenter, transitions)%>>
        <%= label_tag :reason, 'Reason for failure' %>
        <%= select_tag(:reason, options_for_select([ 'Equipment failure', 'Poor yield', 'Power failure', 'Reagent failure' ]), disable_failed_by_state(transitions, class: 'custom-select')) %>
        <%= label_tag :customer_accepts_responsibility, 'Still charge customer' %>
        <%= check_box_tag :customer_accepts_responsibility, true, false %>
      </div>
        <%= f.submit 'Change State', class: 'btn btn-lg btn-danger btn-block' %>
    </div>
    <% end %>
  <% end %>
<% end %>
