<div id="labware-summary-div">
  <div class="card-body bg-dark <%= presenter.state %>">
    <%= inline_svg_tag 'images/tube.svg', height: '142px' %>
  </div>
  <div id="plate-view-control" class="card-header">
    <ul class="nav nav-tabs card-header-tabs float-xs-left" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#summary_tab" data-bs-toggle="tab" role="tab" data-plate-view="summary-view">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#relatives_tab" data-bs-toggle="tab" role="tab" data-plate-view="pools-view">Relatives</a>
      </li>
      <% data_attributes = {
           sequencescape_api: Limber::Application.config.api.v2.connection_options.js_url,
           sequencescape_api_key: Limber::Application.config.api.v2.connection_options.authorisation,
           asset_id: presenter.id
         } %>
      <li class="nav-item">
        <a id='comments-tab-link' class="nav-link" href="#comments_tab" data-bs-toggle="tab" role="tab" data-plate-view="comments-view">
          Comments <%= tag.span(id: 'asset-comments-counter', data: data_attributes) %>
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id='summary_tab' role="tabpanel">
      <%= render partial: 'summary', locals: { presenter: } %>
      <%= render partial: 'qc_data_show', locals: { presenter: } %>
    </div>
    <div class="tab-pane" id='relatives_tab' role="tabpanel">
      <%= render partial: 'relatives_list', locals: { presenter: } %>
    </div>
    <div class="tab-pane" id='comments_tab' role="tabpanel">
      <div id='asset-comments' data-sequencescape-api="<%= Limber::Application.config.api.v2.connection_options.js_url %>"
                               data-sequencescape-api-key="<%= Limber::Application.config.api.v2.connection_options.authorisation %>"
                               data-asset-id="<%= presenter.id %>">
      </div>
    </div>
  </div>
</div>
