<%= page(:"robot-verification-#{robot.layout}") do %>
  <%= content do %>
    <%= card title: robot.name do %>
      <div id="robot-verification" class="scape-ui-block" >
        <div class="instructions">
          <h4><%= t("robots.#{robot.id}.instruction_summary") %></h4>
          <ol>
            <%= t("robots.#{robot.id}.instructions").html_safe %>
          </ol>
          <h4>Layout</h4>
          <dl class="row">
            <% robot.beds.each do |barcode,config| %>
              <dt class='col-xs-2'><%= config.label %></dt>
              <dd class='col-xs-6'><%= config.purpose_labels %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    <% end # of card%>
  <% end # of content%>

  <%= sidebar do %>
    <%= form_for :robot, :url => start_robot_path(robot.id) do |form| %>
      <%= render :partial => robot.layout, :locals => {:robot => robot, :form => form } %>
      <%= submit_tag "Start the #{robot.name}",
        :name           => nil,
        :class          => "submit",
        :id             => 'start-robot',
        :class          => 'btn btn-lg btn-success btn-block',
        :disabled       => true
      %>
    <% end # of form %>
  <% end # of sidebar %>
<% end # of page %>
