<%= content do %>
  <h1>Work In Progress - Pipeline <%= @pipeline -%></h1>

  <!-- filters - reload the page with a new param -->
  <%= link_to 'All time', pipeline_work_in_progress_index_path(date: Date.new(1970,1,1)), method: :get, class: "filter-button" %>
  <%= link_to 'Last month', pipeline_work_in_progress_index_path(date: Date.today.prev_month), method: :get, class: "filter-button" %>

  <!-- one column per purpose, containing cards for each plate / tube -->
  <div class="container-fluid">
    <div class="row">
      <% @ordered_purpose_list.each do |purpose_group| %>
        <div class="col-md">
          <!-- card for the column, with purpose name -->
          <%= card title: "#{purpose_group} (#{@grouped[purpose_group].size})" do %>
            <% @grouped[purpose_group].each do |labware_data| %>
              <% labware = labware_data[:record] %>
              <% path = labware.type == 'plates' ? limber_plate_path(labware) : limber_tube_path(labware) %>

              <!-- plate / tube card -->
              <%= card do %>
                <%= link_to "#{labware.labware_barcode&.human}", path %><br/>
                <%= labware_data[:state] %><br/>
                <%= "created #{labware.created_at.strftime("%d/%m/%y")}" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>