<h2>Create Child Plate: <%=@creation_form.parent.name %></h2>

<%= semantic_form_for(@creation_form, :as => :plate, :url => plate_children_path(@creation_form.parent), :html => {:method => :post}) do |f| %>
  <%= f.inputs do %>
    <%= f.input :plate_purpose_uuid, :as => :hidden, :value =>@creation_form.parent.name %>
    <%= f.input :plate_uuid, :as => :hidden, :value => @creation_form.parent.name %>
    <%= f.input :tag_layout_template_uuid, :label => "Tag Template", :as => :select, :collection => @creation_form.tag_layout_template_uuids %>
  <% end %>
  <%= f.buttons do %>
    
    <%= f.commit_button 'Create Plate' %>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('tr:nth-child(2),tr:nth-child(3)').find('.aliquot').addClass('red').css('display','block');
    $('tr::nth-child(4),tr:nth-child(5),tr:nth-child(6)').find('.aliquot').addClass('orange').css('display','block');
    $('tr::nth-child(7),tr:nth-child(8),tr:nth-child(9)').find('.aliquot').addClass('green').css('display','block');
  });
</script>
<%= render :partial => 'plate' %>