<li class="labware">
  <%= link_to(tube, id: "tube_#{tube.barcode.ean13}", class: "list-group-item-action") do %>
    <h3 class="barcode list-group-item-heading"><%= useful_barcode(tube.barcode) %> <%= state_badge(tube.state) %></h3>
    <% if tube.stock_plate %>
      <p class="list-group-item-text">
        <span class="field-description">Input plate:</span>
        <%= useful_barcode(tube.stock_plate.barcode) %>
      </p>
    <% end %>
    <dl>
      <dt>Created</dt><dd><%= tube.created_at.to_formatted_s(:date_created) %></dd>
      <dt>Type</dt><dd><%= tube.purpose.name %></dd>
    </dl>
  <% end -%>
</li>
