<%= sidebar do %>
  <%= render partial: 'tube_printing' %>
  <%= render(partial: 'labware/qc_data') %>

  <%= card title:'Suggested Actions' do %>
    <% presenter.control_suggested_library_passing do %>
      <%= render partial: 'work_completion_form', locals:  { presenter: presenter } %>
    <% end %>

    <% @presenter.control_additional_creation do -%>
      <% @presenter.suggested_purposes do |uuid, name, type, request_types| %>
        <%= render(partial: creation_partial_for(type), locals: { presenter: @presenter, uuid: uuid, name: name }) %>
      <% end %>
    <% end %>
    <% if presenter.robot? %>
      <% @presenter.each_robot do |robot_id, robot_name| %>
        <%= link_to robot_name, robot_path(robot_id), class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    <% else %>
      <%= simple_state_change_form(@presenter) %>
    <% end %>
  <% end %>

  <%= card title:'Other Actions' do %>
    <% if presenter.robot? %>
      <%= simple_state_change_form(@presenter) %>
    <% end %>

    <%= @presenter.control_additional_creation do %>
      <div class="btn-group btn-block" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-block btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Transfer to other tubes
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <% @presenter.compatible_tube_purposes do |uuid, name| %>
          <%= form_tag new_limber_tube_child_path(presenter.labware.uuid), method: 'get' do %>
            <%= hidden_field_tag :purpose_uuid, uuid %>
            <%= submit_tag "Add an empty #{name} tube",
              name: nil,
              class: "submit dropdown-item create-tube-button btn"
            %>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>

    <div id="tube-state">
      <%= state_change_form(@presenter) %>
    </div>
  <% end %>

<% end %>
