<%= sidebar do %>
  <%= render partial: 'tube_printing' %>
  <%= render(partial: 'labware/qc_data') %>

  <%= card title:'Suggested Actions' do %>
    <% presenter.control_suggested_library_passing do %>
      <%= render partial: 'work_completion_form', locals:  { presenter: presenter } %>
    <% end %>

    <% @presenter.control_additional_creation do -%>
      <%= render presenter.suggested_purposes, locals: { parent: presenter.labware } %>
    <% end %>
    <% if presenter.robot? %>
      <% @presenter.each_robot do |robot_id, robot_name| %>
        <%= link_to robot_name, robot_path(robot_id), class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    <% else %>
      <%= simple_state_change_form(@presenter) %>
    <% end %>
  <% end %>

  <%= card title:'Other Actions' do %>
    <% if presenter.robot? %>
      <%= simple_state_change_form(@presenter) %>
    <% end %>

    <%= @presenter.control_additional_creation do %>
      <%= render partial: 'creation_dropdown', locals: { resource_type: 'tubes', resources: presenter.compatible_tube_purposes } %>
    <% end %>

    <div id="tube-state">
      <%= state_change_form(@presenter) %>
    </div>
  <% end %>

<% end %>
