<%= page(:'tube-show-page', :'show-page') do %>
  <%= content do %>
    <%= card without_block: true do %>
      <%= render 'content_header', presenter: @presenter, type: 'tube' %>
      <%= render 'warnings', presenter: @presenter %>

      <div id="labware-summary">
        <%= render partial: 'labware/tube', locals: { tube: @presenter.labware, presenter: @presenter } %>
      </div>
    <% end %>
  <% end %>

  <%= render partial: "tubes/sidebars/#{@presenter.sidebar_partial}", locals: { presenter: @presenter } %>
<% end %>
