<%= page(:'tube-show-page', :'show-page') do %>
  <script type="text/javascript">
    SCAPE.labware = {
      'state':     '<%= @presenter.labware.state %>',
      'tabViews':  {},
       //
      'uuid':     '<%= @presenter.labware.uuid %>'
    };
  </script>

  <%= content do %>
    <%= card without_block: true do %>
      <div class="card-block">
        <h2 id="tube-title" class="card-title">
          <%= @presenter.title %>
          <%= state_badge(@presenter.state) %>
          <%# No priority flag %>
        </h2>
      </div>

      <div id="labware-summary">
        <%= render partial: 'labware/tube', locals: { tube: @presenter.labware, presenter: @presenter } %>
      </div>
    <% end %>
  <% end %>

  <%= render partial: 'sidebar', locals: { presenter: @presenter } %>
<% end %>
