<%= content_for(:title, @presenter.document_title) %>

<%= content_for(:page_id, :'tube-show-page') %>

<%= content_for(:labware_content) do %>
  <%= render 'content_header', presenter: @presenter, type: 'tube' %>
  <%= render 'warnings', presenter: @presenter %>
  <%= render 'info', presenter: @presenter %>
  <div id="labware-summary">
    <%= render partial: 'labware/tube', locals: { tube: @presenter.labware, presenter: @presenter } %>
  </div>
<% end %>

<%= content_for(:labware_sidebar) do %>
  <%= render partial: 'tubes/sidebars/container', locals: { presenter: @presenter } %>
<% end %>
