<%= form_for(barcode, :url => print_individual_label_path, :as => :label, :html => {:method => :post}) do |f| %>
  <%# Hide the details of what is in the label to be printed %>
  <ul data-role="listview" data-inset="true">
    <%= hidden_field_tag(:redirect_to, redirection_url) %>
    <%= f.hidden_field :prefix %>
    <%= f.hidden_field :number %>
    <%= f.hidden_field :study, :value => text %>

    <li data-role="listdivider">
      <%= label_tag :printer, 'Barcode printer' %>
      <%= select_tag :printer, options_from_collection_for_select(printers_applicable_to(barcode), :uuid, :name) %>
    </li>
    <li>
      <%= f.submit 'Print Label', :'data-theme' => 'b', :'data-icon' => 'grid' %>
    </li>
  </ul>
<% end %>
