<%# TODO This form code breaks the semantic presenter model pattern.
    The form should use attriutes on the presenter class not the lab_ware directly. 
    Use the formtastic helpers not the rails helpers.
%>

<% presenter.control_state_change do |states| %>
  <h2> Current State: <%= presenter.lab_ware.state.titleize %> </h2>
    <%= semantic_form_for(
          presenter.lab_ware,
          presenter.lab_ware_form_details(self).merge(
            :html => { :method => :put },
            :as => :plate
          )) do |f|
    %>
   <ul id="state-changer" data-role="listview" data-inset="true">
      <%= f.inputs do %>
        <% if admin_page? -%>
          <li>
          <%= label_tag :card_id, "User Swipecard" %>
          <%= text_field_tag :card_id, "", :class => "ui-input-text" %>
          </li>
        <% end -%>
        <li>
          <%= label_tag :state, "Change state to:" %>
          <%= select_tag :state, options_for_select(states.map { |s| [ s.titleize, s ] }, states.first) %>
        </li>
        <li id="cancelled" class="reason" <%= 'style=display:none;' if presenter.lab_ware.state != 'cancelled'%>>
          <%= label_tag :reason, 'Reason for cancellation:' %>
          <%= select_tag(:reason, options_for_select([ 'Contaminated', 'Incorrect protocol used', 'Not required' ]), :disabled => true) %>
        </li>
        <li id="failed" class="reason" <%= 'style=display:none;' if presenter.lab_ware.state != 'failed'%>>
          <%= label_tag :reason, 'Reason for failure:' %>
          <%= select_tag(:reason, options_for_select([ 'Equipment failure', 'Poor yield', 'Power failure', 'Reagent failure' ]), :disabled => true) %>
        </li>
        <%= f.commit_button 'Change State', :button_html => {:'data-theme' => 'b', :'data-icon' => 'gear'} %>

      <% end %>

    </ul> 
    <% end %>
<% end %>
