<div id='blended-tube-page'
     data-sequencescape-api="<%= Limber::Application.config.api.v2.connection_options.js_url %>"
     data-sequencescape-api-key="<%= Limber::Application.config.api.v2.connection_options.authorisation %>"
     data-purpose-uuid="<%= @labware_creator.purpose_uuid %>"
     data-purpose-name="<%= @labware_creator.purpose_name %>"
     data-parent-purpose-name="<%= @labware_creator.parent.purpose.name %>"
     data-target-url="<%= limber_tube_children_path(@labware_creator.parent) %>"
     data-transfers-creator="<%= @labware_creator.transfers_creator %>"
     data-source-tubes="<%= @labware_creator.source_tubes %>"
     data-acceptable-parent-tube-purposes="<%= @labware_creator.acceptable_parent_tube_purposes %>"
     data-ancestor-plate-purpose="<%= @labware_creator.ancestor_plate_purpose %>"
     >
  <div class="spinner-dark">Loading...</div>
</div>
