<%= page(:'multi-tube-pooling-page', prevent_row: true) do %>
  <%= vite_javascript_tag 'entrypoints/pages/multi_tube_pooling.js', defer: true %>
  <% form_for(
       @labware_creator,
       url: tube_child_tube_creations_path(@labware_creator.parent),
       as: :tube,
       html: { method: :post }
     ) do |form| %>
  <div class='row'>
    <%= content do %>
      <%= card title: 'Tubes', without_block: true do %>
        <ul id="scanned_tube_list" class="robot tubev list-group">
          <% @labware_creator.each_sibling do |sibling| %>
          <li id="listElement[<%= sibling.barcode %>]" class="<%= sibling.ready? ? 'wait-tube' : 'bad-tube' %> sibling-tube list-group-item" data-barcode="<%= sibling.barcode %>">
            <h3>Tube: <%= sibling.name %> <small><%= sibling.sanger_barcode %></small></h3>
            <input value="0" name="tube[parents][<%= sibling.barcode %>]" id="tube[parents][<%= sibling.barcode %>]" type="hidden">
            <div class="tube_validation_report"><%= sibling.message %></div>
          </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
    <%= sidebar do %>
      <%= card title: 'Multi Tube pooling' do %>
        <div>
          <% if @labware_creator.all_ready? %>
            <div>
              <div id="add-tubes-instructions-block">
                <div class="instructions">
                  <h3>Add Lib Pool Tubes</h3>
                  <p>Scan in all the tubes in the same submission</p>
                </div>
              </div>
            </div>
            <div class="tube-scanner">
              <label for="tube_scan" class="tube-label">Scan tube:</label>
              <input id="tube_scan" name="tube_scan" placeholder="Tube barcode" class="tube" tabindex="1" />
            </div>
            <%= form.hidden_field :purpose_uuid, value: @labware_creator.purpose_uuid %>
            <%= form.submit 'Make Tube',
                            id: 'tube_submit',
                            class: 'create-button btn btn-success',
                            tab_index: 2,
                            disabled: true %>
          <% else %>
            <div class="tube-suggestions alert alert-warning">
              <p>Please resolve any issues with the tubes before continuing.</p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
<% end %>
