<%= page(:'pooled-tubes-from-whole-plates') do %>
  <%= content do %>
    <%= render(partial: './search/inbox', locals: { search_results: @labware_creator.available_plates }) %>
  <% end %>
  <%= sidebar do %>
    <%= card title: 'Add plates to pool', without_block: true do %>
      <div id="validation_report"></div>
      <div id="add-plates-instructions-block" class="card-body" >
        <div class="instructions">
          <p>Scan in up to 4 plates.</p>
        </div>
      </div>
      <div class="card-body">
      <%= form_for(
        @labware_creator,
        url: limber_plate_tubes_path(@labware_creator.parent),
        as: :tube,
        html: { method: :post }) do |form| %>

        <%= form.hidden_field :parent_uuid %>
        <%= form.hidden_field :purpose_uuid %>
        <% 4.times do |i| %>
          <div class="plate-container scan-plate form-group row">
            <label for="tube[barocdes][<%= i %>]" class="plate-label col-2" >Plate <%= i+1 %></label>
            <input id="tube[barocdes][<%= i %>]" name="tube[barcodes][]" class="form-control plate-box col-8" tabindex="1" data-position=<%= i %> data-labware-type="plate"/>
          </div>
        <% end %>
        <%= form.submit 'Make Pool', class: 'btn btn-success btn-lg', id: 'create-labware', disabled: true %>
      <% end %>
      </div>
       <ul id="pooling-summary" class="list-group"></ul>
    <% end %>
  <% end %>
<% end %>
