<%= page(:'pooled-tubes-from-whole-plates') do %>
  <%= vite_javascript_tag 'entrypoints/pages/pooled_tubes.js', defer: true %>
  <%= content do %>
    <%= render(partial: 'search/inbox', locals: { search_results: @labware_creator.available_plates }) %>
  <% end %>
  <%= sidebar do %>
    <%= card title: 'Add plates to pool', without_block: true do %>
      <div id="validation_report"></div>
      <div id="add-plates-instructions-block" class="card-body">
        <div class="instructions">
          <p>Scan in up to <%= @labware_creator.number_of_parent_labwares.to_s %> plate(s).</p>
        </div>
      </div>
      <div class="card-body">
      <%= form_for(
            @labware_creator,
            url: plate_child_tube_creations_path(@labware_creator.parent),
            as: :tube,
            html: { method: :post }
          ) do |form| %>

        <%= form.hidden_field :parent_uuid %>
        <%= form.hidden_field :purpose_uuid %>
        <% @labware_creator.number_of_parent_labwares.times do |i| %>
          <div class="labware-container scan-labware form-group row">
            <label for="tube[barcodes][<%= i %>]" class="plate-label col-2 col-form-label">Plate <%= i + 1 %></label>
            <input id="tube[barcodes][<%= i %>]" name="tube[barcodes][]" class="form-control labware-box col" tabindex="1" autocomplete="off" data-position="<%= i %>" data-labware-type="plate">
          </div>
        <% end %>
        <%= form.submit 'Make Pool', class: 'btn btn-success btn-lg', id: 'create-labware', disabled: true %>
      <% end %>
      </div>
       <ul id="pooling-summary" class="list-group"></ul>
    <% end %>
  <% end %>
<% end %>
