<%# Used in inboxes %>
<li class="labware">
  <%= link_to(plate, id: "plate_#{plate.barcode.ean13}", class: "#{plate.role} list-group-item-action") do %>
    <% if plate.priority > 0 %>
       <%= image_tag("icon_#{plate.priority}_flag.png", size: "64x64", class: 'pull-sm-right') %>
    <% end %>
    <h3 class="barcode list-group-item-heading"><%= useful_barcode(plate.barcode) %> <%= state_badge(plate.state) %></h3>
    <% if plate.stock_plate.present? %><p class="list-group-item-text"><span class="field-description">Input plate:</span> <%= useful_barcode(plate.stock_plate.barcode) %></p><% end %>
    <dl>
      <% if plate.iteration.present? %><dt>Iteration</dt><dd><%= plate.iteration %></dd><% end %>
      <dt>Created</dt><dd><%= plate.created_at.to_formatted_s(:date_created) %></dd>
      <dt>Type</dt><dd><%= plate.plate_purpose.name %></dd>
      <dt>Library Type</dt><dd><%= plate.library_type_name %></dd>
      <dt>Number of Pools</dt><dd><%= plate.number_of_pools %></dd>
      <dt> Shearing Size</dt><dd><%= plate.shearing_size %></dd>
    </dl>
  <% end -%>
</li>
