<% pool_index = presenter.pool_index(container.pool_id) %>
<div
  id="aliquot_<%= id %>"
  class="aliquot
        <%= container.location %>
        <%= container.state %>
        <%= container.suboptimal? ? 'suboptimal' : '' %>
        colour-<%= pool_index %>
         <%= 'under_represented' if well_under_represented?(container) %>"
  data-pool="<%= container.pool_id %>">
  <span class="pool-id"><%= pool_index %>
  <div class="pool-print-information"><% container.aliquots.each do |aliquot| %>
    <%= aliquot.sample.sanger_sample_id %>
    <%= aliquot.sample.species %>
  <% end %>
  </div></span>
  <% if container.try(:contains_control?) %>
    <div class="control-type">
      <%= container.control_info_formatted %>
    </div>
  <% end %>
</div>
