<%= presenter.form.check_box(id, disabled: !failable?(container)) %>
<%= presenter.form.label id do %>
  <div id="aliquot_<%= id %>"
       class="aliquot <%= container.state %>"
       data-toggle="tooltip"
       data-placement="top"
       title="<%= id %>"
       >
    <% if container.respond_to?(:contains_control?) && container.contains_control? %>
      <div class="control-type">
        <%= container.control_info_formatted %>
      </div>
    <%end%>
  </div>
<% end %>
