<div id="labware-summary-div">
  <%= render partial: 'plate', locals: { plate_presenter: presenter } %>
</div>

<%= content_for :additional_tabs do %>
  <li class="nav-item">
    <a class="nav-link" href="#samples_tab" data-bs-toggle="tab" role="tab" data-plate-view="samples-view">Samples</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#binned_tab" data-bs-toggle="tab" role="tab" data-plate-view="binned-view">Binning</a>
  </li>
<% end %>

<%= content_for :additional_panels do %>
  <div class="tab-pane" id='samples_tab' role="tabpanel">
    <%= render partial: 'plates/samples_tab', locals: { plate_presenter: presenter } %>
  </div>
  <div class="tab-pane" id='binned_tab' role="tabpanel">
    <%= render partial: 'plates/binned_tab', locals: { plate_presenter: presenter } %>
  </div>
<% end %>

<%= render 'common_tabbed_pages', presenter: %>
