<%= @presenter.control_source_view do %>
  <h2>Source Plate</h2>
  <%= render partial: "pooled_plate", locals: {plate_presenter: presenter, walker: presenter.walk_source, transfers: presenter.labware.creation_transfer.transfers} %>
  <br/>

  <h2>Pooled Plate</h2>
  <% transfers = Hash[presenter.labware.creation_transfer.transfers.map { |_, location| [ location, location ] }] %>
  <%= render partial: "pooled_plate", locals: {plate_presenter: presenter, walker: presenter.walk_destination, transfers: transfers} %>
  <%= render partial: 'plate_summary', locals: { presenter: presenter } %>
<% end %>
<% @presenter.control_tube_view do %>
  <h2>Pooled Plate</h2>
  <%= render partial: "pooling_into_tubes_plate", locals: {plate_presenter: presenter} %>
  <%= render partial: 'plate_summary', locals: { presenter: presenter } %>

  <h2>Tubes</h2>
  <div class="list-group">
  <% presenter.labware.tubes_and_sources.each do |tube, sources| %>
    <%= render partial: 'labware/pooled_tube.html.erb', locals: {tube: tube, source: sources } %>
  <% end %>
  </div>
<% end %>
