<div class="row">
  <nav class="navbar navbar-dark bg-inverse">
    <h1 class="navbar-brand limber-logo m-b-0">Limber</h1>
    <%= form_tag perform_search_path, :class => 'plate-search-form form-inline float-xs-left', :'data-ajax' => 'false', :method => 'post' do %>
      <%= label_tag :plate_barcode, 'Plate or Tube Barcode', class: 'sr-only' %>
      <%= text_field_tag :plate_barcode, params[:plate_barcode], :class => 'plate-barcode form-control', placeholder: 'e.g. 1220012345855 or DN12345' %>
    <% end %>
    <ul class="nav navbar-nav">
      
    </ul>
    <span class='navbar-text float-xs-right navbar-dark text-white'>Currently logged in as, <span class="user_name_placeholder"><strong><%= user_name.titlecase %></strong></span> <%= session_switcher %></span>
  </nav>
</div>
