<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Limber</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag "formtastic", "application" %>
    <%= stylesheet_link_tag "print", :media=>'print' %>

    <%= javascript_include_tag 'underscore' %>
    <%= javascript_include_tag 'jquery.mobile', 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body class='<%= environment %> <%= non_production_class %> <%= logged_in_class %>'>
      <%= yield %>
  </body>
</html>


