<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Limber</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "print", :media=>'print' %>

    <%= javascript_include_tag 'application'  %>
    <%= javascript_pack_tag 'application' %>

    <%= csrf_meta_tag %>
  </head>
  <body class='<%= environment %> <%= environment_type_class %> <%= logged_in_class %>'>
      <div id='app'>
      <%= yield %>
      </div>
      <%= render partial: 'loading_modal' %>
      <%= render partial: 'version_information' %>
  </body>
</html>


