<!DOCTYPE html>
<html>
  <head>
    <title>Sequencescape - Illumina-B Pipeline</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <%= stylesheet_link_tag "jquery-mobile", "formtastic", "screen" %>
  
    <%= javascript_include_tag 'jquery', 'underscore' %>
    <script type="text/javascript" charset="utf-8">
      $(document).on("mobileinit", function(){
        $.extend(  $.mobile , {
            ajaxEnabled: false
        });
      });
    </script>
    <%= javascript_include_tag 'jquery.mobile', 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>


