<%= content_for(:main_content) do %>
  <%= page(yield(:page_id), :'show-page', prevent_row: true) do %>
    <div class="row">
      <%= content do %>
        <%= card without_block: true, id: 'labware-content' do %>
          <%= yield(:labware_content) %>
        <% end %>
      <% end %>

      <%= yield(:labware_sidebar) %>
    </div>
  <% end %>
<% end %>

<%= render template: 'layouts/application' %>
