<%= page(yield(:page_id), :'show-page') do %>
  <%= content_tag(:div, class: 'col') do %>

    <%= content_tag(:div, class: 'row') do %>
      <%= content_tag :div, class: 'col-8' do %>
        <%= render 'pipeline_info' %>
      <% end %>
      <%= content_tag :div, class: 'col-4 text-end' do %>
        <%= render 'request_info' %>
      <% end %>
    <% end %>

    <div class="row">
      <%= content do %>
        <%= card without_block: true, id: 'main-content' do %>
          <%= yield(:labware_content) %>
        <% end %>
      <% end %>

      <%= yield(:labware_sidebar) %>
    </div>

  <% end %>
<% end %>

<% parent_layout :application %>
