<%= page(yield(:page_id), :'show-page') do %>
  <%= content_tag(:div, class: 'col') do %>

    <%= content_tag(:div, class: 'row') do %>
      <%= render 'pipeline_info', class: 'col-9' %>
      <%= render 'request_info', class: 'col-3' %>
    <% end %>

    <div class="row">
      <%= content do %>
        <%= card without_block: true, id: 'main-content' do %>
          <%= yield(:labware_content) %>
        <% end %>
      <% end %>

      <%= yield(:labware_sidebar) %>
    </div>

  <% end %>
<% end %>

<% parent_layout :application %>
